# Configuration file

##########################################################################################################
# ambush
#--------------------------------------------------------------------------------------------------------#
# Ambush Configuration
##########################################################################################################

ambush {
    # The chance for a player to get an ambush when sleeping [range: 0.0 ~ 1.0, default: 0.05]
    S:ambushChance=0.05

    # Maximum distance an ambush mob can spawn from the player. Must be bigger than the minimal value. [range: 2 ~ 128, default: 20]
    I:distanceFromPlayerMax=20

    # Minimal distance an ambush mob can spawn from the player. Must be smaller than the maximum value [range: 1 ~ 64, default: 5]
    I:distanceFromPlayerMin=5

    # Enable or Disable ambushes when sleeping. [default: true]
    B:enableAmbush=true

    # Change the maximum Y level above the player that ambush mobs can spawn. [range: 1 ~ 128, default: 10]
    I:maxYLevelAbovePlayer=10

    # Change the maximum Y level below the player that ambush mobs can spawn [range: 1 ~ 32, default: 6]
    I:maxYLevelBelowPlayer=6

    # Toggle if an ambush can only happen if the player is sleeping in the open (exposed to the sky) [default: false]
    B:needsOpenSky=false
}


##########################################################################################################
# ambusheffects
#--------------------------------------------------------------------------------------------------------#
# Ambush Potion Effects Configuration
##########################################################################################################

ambusheffects {
    #  [default: [0.99,minecraft:weakness,1200,2], [0.99,lycanitesmobs:insomnia,2400,2]]
    S:PotionEffectConfig <
        0.99,minecraft:weakness,1200,2
        0.99,lycanitesmobs:insomnia,2400,2
     >
}


##########################################################################################################
# ambushmobs
#--------------------------------------------------------------------------------------------------------#
# Ambush mobs Configuration
##########################################################################################################

ambushmobs {
    #  [default: [5/1.0,minecraft:zombie,4,9;0.7,minecraft:skeleton,0,2;0.9,minecraft:husk,1,5;], [5/0.9,minecraft:skeleton_horse,1,3;1.0,minecraft:skeleton,2,4;0.5,minecraft:silverfish,2,4;]]
    S:MobGroupConfig <
        5/1.0,minecraft:zombie,4,9;0.7,minecraft:skeleton,0,2;0.9,minecraft:husk,1,5;
        5/0.9,minecraft:skeleton_horse,1,3;1.0,minecraft:skeleton,2,4;0.5,minecraft:silverfish,2,4;
     >
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General configuration
##########################################################################################################

general {
    # Names of the custom bed blocks affected by this mods custom sleep positioning: [default: [simplenightmares:black_oakbed], [simplenightmares:blue_oakbed], [simplenightmares:borealbed], [simplenightmares:brown_oakbed], [simplenightmares:cyan_oakbed], [simplenightmares:gray_oakbed], [simplenightmares:green_oakbed], [simplenightmares:light_blue_oakbed], [simplenightmares:lime_oakbed], [simplenightmares:magenta_oakbed], [simplenightmares:orange_oakbed], [simplenightmares:pink_oakbed], [simplenightmares:purple_oakbed], [simplenightmares:red_oakbed], [simplenightmares:silver_oakbed], [simplenightmares:white_oakbed], [simplenightmares:yellow_oakbed]]
    S:customBedBlocks <
     >
}


##########################################################################################################
# moonblessing
#--------------------------------------------------------------------------------------------------------#
# Moon Blessing Configuration
##########################################################################################################

moonblessing {
    # Attribute Modifiers [default: [MAX_HEALTH,0.1], [ATTACK_SPEED,0.2], [LUCK,0.1], [ATTACK_DAMAGE,5.5]]
    S:attributeModifiers <
        MAX_HEALTH,0.1
        ATTACK_SPEED,0.2
        LUCK,0.1
        ATTACK_DAMAGE,5.5
     >
}


##########################################################################################################
# nightmare
#--------------------------------------------------------------------------------------------------------#
# Nightmare Configuration
##########################################################################################################

nightmare {
    # Chance for hostile mobs to drop a moon fragment during the night. 
    # Fragment drop chance scales linearly with moon phase, from 0 at new moon to the set chance at full moon. [range: 0.0 ~ 1.0, default: 0.02]
    S:dropMoonFragmentChance=0.02

    # Enable of Disable the nightmare events. [default: true]
    B:enableNightmares=true

    # The chance (%) for the player to have a nightmare. [range: 0.0 ~ 100.0, default: 10.0]
    S:nightmareChance=10.0
}


##########################################################################################################
# nightmareeffects
#--------------------------------------------------------------------------------------------------------#
# Nightmare Potion Effects Configuration
##########################################################################################################

nightmareeffects {
    #  [default: [0.99,minecraft:weakness,1200,2], [0.99,lycanitesmobs:insomnia,2400,2], [0.99,lycanitesmobs:penetration,2400,0], [0.99,minecraft:poison,2400,0], [0.99,minecraft:unluck,2400,1]]
    S:nightmareEffectConfig <
        0.99,minecraft:weakness,1200,2
        0.99,lycanitesmobs:insomnia,2400,2
        0.99,lycanitesmobs:penetration,2400,0
        0.99,minecraft:poison,2400,0
        0.99,minecraft:unluck,2400,1
     >
}


##########################################################################################################
# sleep
#--------------------------------------------------------------------------------------------------------#
# Sleep Configuration:
##########################################################################################################

sleep {
    # List of Chat messages as feedback for sleeping in multiplayer. [default: [Look alive soldier! Time for Pain!], [The power of Ra is blasting your eyes. You awake from your crypt.], [Narrator speaking, time to get your butt moving.], [A grue quickly moves away after having stalked you throughout the night, good morning!], [You wake up remembering vague images of a forgotten world.], [Don't keep the devil waiting, my friend.], [You just lost 10 minutes of progression.], [You woke up on the wrong side of the bed today...], [At least you don't need to get ready for school.], [Another day, another emerald.], [A Champion was supposed to spawn last night, but no... You just had to sleep.], [The §4§k Cities of the Lost§r are waiting...]]
    S:ChatFeedback <
        Look alive soldier! Time for Pain!
        The power of Ra is blasting your eyes. You awake from your crypt.
        Narrator speaking, time to get your butt moving.
        A grue quickly moves away after having stalked you throughout the night, good morning!
        You wake up remembering vague images of a forgotten world.
        Don't keep the devil waiting, my friend.
        You just lost 10 minutes of progression.
        You woke up on the wrong side of the bed today...
        At least you don't need to get ready for school.
        Another day, another emerald.
        A Champion was supposed to spawn last night, but no... You just had to sleep.
        The §4§k Cities of the Lost§r are waiting...
     >

    # Enable or Disable the 'player is sleeping' feedback in chat [default: true]
    B:enableChatFeedback=true

    # Enable or Disable the dream feedback in chat when sleeping in multiplayer. [default: true]
    B:enableChatRemarks=true

    # Helper config option. If singlePlayerDebug is enabled but this option is disabled, 'player is sleeping' feedback will not occur when 1 player is in the world. [default: true]
    B:enableSinglePlayerChatFeedback=true

    # Enable or Disable the sleep percentage chat messages for singleplayer. Usually for debug purposes only. [default: false]
    B:enableSinglePlayerDebug=false

    # Set the color for the 'is now sleeping' message. Color name must match TextFormatting enums. [default: GOLD]
    S:sleepMessageColor=GOLD

    # The percentage of players that needs to sleep to skip the night, if this option is selected. ONLY ALTER THROUGH IN GAME COMMAND /setsleeppercentage [range: 0 ~ 100, default: 100]
    I:sleepPercentage=100

    # The amount of players that need to sleep to skip the night, if this option is selected. ONLY ALTER THROUGH IN GAME COMMAND /setsleeppercentage [range: -1 ~ 99, default: -1]
    I:sleepPlayers=-1

    # Set the color for the wake up chat remarks. Color name must match TextFormatting enums. [default: GOLD]
    S:wakeUpMessageColor=GOLD
}


