# Configuration file

animation {
    B:animation=true
    B:blockAnimations=true
    B:fire=true
    B:lava=true
    B:portal=true
    B:water=true
}


detail {
    B:biomeColors=true
    B:rainSnow=true
    B:sky=true
    B:stars=true
    B:sunMoon=true
    I:totalStars=1500
    B:voidFog=true
    B:voidParticles=true
}


extra {
    B:hideHeiUntilSearch=false
    B:ignoreReducedDebugInfo=false
    I:overlayCorner=0
    B:reducedMotion=false
    B:showCoords=false
    B:showFPSExtended=false
    B:showFps=false
    B:steadyDebugHud=true
    I:steadyDebugHudRefreshInterval=60
    I:textContrast=2
    B:useAdaptiveSync=false
}


particle {
    B:blockBreak=true
    B:blockBreaking=true
    B:particles=true
    B:rainSplash=true
}


particle_classes {
    S:disabledClasses <
     >
    S:discoveredClasses <
        com.bobmowzie.mowziesmobs.client.particles.ParticleSparkle|ParticleSparkle
        net.minecraft.client.particle.ParticleEnchantmentTable|ParticleEnchantmentTable
        net.minecraft.client.particle.ParticleSpit|ParticleSpit
        thedarkcolour.futuremc.client.particle.PandaSneezeParticle|PandaSneezeParticle
        net.minecraft.client.particle.ParticleHeart|ParticleHeart
        net.minecraft.client.particle.ParticleLava|ParticleLava
        net.minecraft.client.particle.ParticleBreaking|ParticleBreaking
        energon.srpdeepseadanger.client.particle.ParticleShockWave|ParticleShockWave
        com.dhanantry.scapeandrunparasites.client.particle.ParticleMultipleGore|ParticleMultipleGore
        com.unoriginal.beastslayer.particles.ParticleWispFire|ParticleWispFire
        net.minecraft.client.particle.ParticleCrit|ParticleCrit
        org.orecruncher.dsurround.client.fx.particle.ParticleFrostBreath|ParticleFrostBreath
        net.minecraft.client.particle.ParticleWaterWake|ParticleWaterWake
        net.minecraft.client.particle.ParticleFirework$Spark|Spark
        net.minecraft.client.particle.ParticleSplash|ParticleSplash
        net.minecraft.client.particle.ParticleItemPickup|ParticleItemPickup
        net.minecraft.client.particle.ParticleMobAppearance|ParticleMobAppearance
        net.minecraft.client.particle.ParticleSuspend|ParticleSuspend
        net.minecraft.client.particle.ParticleDragonBreath|ParticleDragonBreath
        net.minecraft.client.particle.ParticleEndRod|ParticleEndRod
        net.minecraft.client.particle.ParticleCloud|ParticleCloud
        org.orecruncher.dsurround.client.fx.particle.mote.ParticleCollection|ParticleCollection
        net.minecraft.client.particle.ParticleSweepAttack|ParticleSweepAttack
        betterfoliage.render.feature.particle.EntityFallingLeavesFX|EntityFallingLeavesFX
        net.minecraft.client.particle.ParticleDrip|ParticleDrip
        net.minecraft.client.particle.ParticleExplosion|ParticleExplosion
        net.minecraft.client.particle.ParticleSmokeNormal|ParticleSmokeNormal
        energon.srpextra.client.particle.ParticleStung|ParticleStung
        thedarkcolour.futuremc.client.particle.SoulFlameParticle|SoulFlameParticle
        org.orecruncher.dsurround.client.fx.particle.ParticleDripOverride|ParticleDripOverride
        net.torocraft.torohealthmod.render.DamageParticle|DamageParticle
        net.minecraft.client.particle.ParticleBubble|ParticleBubble
        net.minecraft.client.particle.ParticleSmokeLarge|ParticleSmokeLarge
        net.minecraft.client.particle.ParticleTotem|ParticleTotem
        net.minecraft.client.particle.ParticleSpell|ParticleSpell
        net.minecraft.client.particle.Barrier|Barrier
        net.minecraft.client.particle.ParticleDigging|ParticleDigging
        com.unoriginal.beastslayer.particles.ParticleColoredDrip|ParticleColoredDrip
        net.minecraft.client.particle.ParticleExplosionHuge|ParticleExplosionHuge
        com.unoriginal.beastslayer.particles.ParticleSpellCircle|ParticleSpellCircle
        net.minecraft.client.particle.ParticleBlockDust|ParticleBlockDust
        com.wdcftgg.farmersdelightlegacy.client.particle.ParticleCookingPotBubble|ParticleCookingPotBubble
        com.unoriginal.beastslayer.particles.ParticleSandSpit|ParticleSandSpit
        net.minecraft.client.particle.ParticleRain|ParticleRain
        net.minecraft.client.particle.ParticleExplosionLarge|ParticleExplosionLarge
        com.dhanantry.scapeandrunparasites.client.particle.ParticleRHappy|ParticleRHappy
        net.minecraft.client.particle.ParticleNote|ParticleNote
        org.orecruncher.dsurround.client.fx.particle.ParticleDust|ParticleDust
        net.minecraft.client.particle.ParticleSuspendedTown|ParticleSuspendedTown
        net.minecraft.client.particle.ParticleFallingDust|ParticleFallingDust
        energon.srpdeepseadanger.client.particle.ParticleBiomassVeru|ParticleBiomassVeru
        energon.srpdeepseadanger.client.particle.ParticleSplashD|ParticleSplashD
        net.minecraft.client.particle.ParticleFootStep|ParticleFootStep
        net.minecraft.client.particle.ParticleSnowShovel|ParticleSnowShovel
        com.dhanantry.scapeandrunparasites.client.particle.ParticleRGBSmoke|ParticleRGBSmoke
        com.wdcftgg.farmersdelightlegacy.client.particle.ParticleSteam|ParticleSteam
        org.orecruncher.dsurround.client.fx.particle.mote.ParticleCollectionFootprint|ParticleCollectionFootprint
        net.minecraft.client.particle.ParticleRedstone|ParticleRedstone
        thedarkcolour.futuremc.client.particle.CampfireParticle|CampfireParticle
        net.minecraft.client.particle.ParticlePortal|ParticlePortal
        net.minecraft.client.particle.ParticleFlame|ParticleFlame
        com.unoriginal.beastslayer.particles.ParticleRift|ParticleRift
     >
}


particle_types {
    B:barrier=true
    B:cloud=true
    B:crit=true
    B:damageIndicator=true
    B:dragonBreath=true
    B:drip=true
    B:enchantmentTable=true
    B:endRod=true
    B:explosion=true
    B:fallingDust=true
    B:fireworks=true
    B:flame=true
    B:heart=true
    B:itemCrack=true
    B:mobAppearance=true
    B:note=true
    B:portal=true
    B:redstone=true
    B:slime=true
    B:smoke=true
    B:snowball=true
    B:spell=true
    B:spit=true
    B:suspended=true
    B:sweepAttack=true
    B:totem=true
    B:townAura=true
    B:villager=true
    B:water=true
}


render {
    B:armorStands=true
    B:beacons=true
    I:cloudDistance=0
    I:cloudHeight=256
    I:cloudScale=4
    I:cloudTranslucency=0
    B:clouds=true
    B:enchantingTableBooks=true
    B:fog=true
    I:fogDistance=0
    I:fogStart=0
    I:fogType=0
    B:itemFrameNameTag=true
    B:itemFrames=true
    B:lightUpdates=true
    B:limitBeaconBeamHeight=false
    B:paintings=true
    B:pistons=true
    B:playerNameTag=true
    B:preventShaders=false
}


