# Configuration file

general {
    # List of blocks that will not be affected by the mod.
    # Format Example: 'namespace:block[property1=value1&property2=2|3]'
    # Properties are optional. Just leave out the '[]' and their contents.
    # Accepts partial or full wildcards '*' for namespace and block.
    # Allows use of '|' as an OR operator for property values.
    # Use 'LEGACYMETA' as property for old-style numerical metadata.
    S:"Breakable Block Whitelist" <
        minecraft:leaves
        minecraft:pumpkin
        minecraft:lit_pumpkin
        futuremc:lantern
        biomesoplenty:grass
     >

    ##########################################################################################################
    # hand shovelling options
    #--------------------------------------------------------------------------------------------------------#
    # Change hand-shovelling's speed loss, or enable/disable it.
    ##########################################################################################################

    "hand shovelling options" {
        # Allows hand-harvesting blocks that can be hand-harvested or shovel-harvested in Vanilla.
        B:"Allow Hand Shovelling"=true

        # Speed multiplier for shoveling by hand if Allow Hand Shovelling is true.
        D:"Speed Multiplier"=0.75
    }

    ##########################################################################################################
    # wrong-tool speed modifiers
    #--------------------------------------------------------------------------------------------------------#
    # Affect how slowed down mining blocks is with the wrong tool.
    ##########################################################################################################

    "wrong-tool speed modifiers" {
        # Incorrect tool harvest speed multiplier for axe-harvestable blocks.
        D:"Axe Speed Multiplier"=0.10000000149011612

        # Incorrect tool harvest speed multiplier for pickaxe-harvestable blocks.
        D:"Pick Speed Multiplier"=0.10000000149011612

        # Incorrect tool harvest speed multiplier for shovel-harvestable blocks.
        D:"Shovel Speed Multiplier"=0.10000000149011612

        # Incorrect tool harvest speed multiplier for blocks that need an unlisted tool type.
        D:"Unknown Speed Multiplier"=0.10000000149011612
    }

}


