# Configuration file

all {

    ##########################################################################################################
    # general
    #--------------------------------------------------------------------------------------------------------#
    # General Options
    ##########################################################################################################

    general {
        # Entities on this list will not be resizeable. If you load a world with previously resized entities after blacklisting them, they will return to normal size. [default: [minecraft:giant], [minecraft:elder_guardian], [minecraft:shulker]]
        S:"Entity Resizing Blacklist" <
            minecraft:giant
            minecraft:elder_guardian
            minecraft:shulker
         >

        # The entries of this list will be parsed and used to determine the size of newly spawned mobs. You can give a single value per entity, or give an entity a range from which a random base size will be selected.
        # format: <entity name>|<basesize> OR <entity name>|<min>-<max> [default: ]
        S:"Entity Base Sizes" <
            minecraft:wither_skeleton|1.0
            minecraft:stray|1.0
            minecraft:husk|1.0
            minecraft:zombie_villager|1.0
            minecraft:skeleton_horse|1.0
            minecraft:zombie_horse|1.0
            minecraft:donkey|1.0
            minecraft:mule|1.0
            minecraft:evocation_illager|1.0
            minecraft:vex|1.0
            minecraft:vindication_illager|1.0
            minecraft:illusion_illager|1.0
            minecraft:creeper|1.0
            minecraft:skeleton|1.0
            minecraft:spider|1.0
            minecraft:zombie|1.0
            minecraft:slime|1.0
            minecraft:ghast|1.0
            minecraft:zombie_pigman|1.0
            minecraft:enderman|1.0
            minecraft:cave_spider|1.0
            minecraft:silverfish|1.0
            minecraft:blaze|1.0
            minecraft:magma_cube|1.0
            minecraft:ender_dragon|1.0
            minecraft:wither|1.0
            minecraft:bat|1.0
            minecraft:witch|1.0
            minecraft:endermite|1.0
            minecraft:guardian|1.0
            minecraft:pig|1.0
            minecraft:sheep|1.0
            minecraft:cow|1.0
            minecraft:chicken|1.0
            minecraft:squid|1.0
            minecraft:wolf|1.0
            minecraft:mooshroom|1.0
            minecraft:snowman|1.0
            minecraft:ocelot|1.0
            minecraft:villager_golem|1.0
            minecraft:horse|1.0
            minecraft:rabbit|1.0
            minecraft:polar_bear|1.0
            minecraft:llama|1.0
            minecraft:parrot|1.0
            minecraft:villager|1.0
            ash_abomination:ash_abomination|1.0
            ancientbeasts:sandy|1.0
            ancientbeasts:ghost|1.0
            ancientbeasts:zealot|1.0
            ancientbeasts:vessel|1.0
            ancientbeasts:fake_vessel|1.0
            ancientbeasts:frostash_fox|1.0
            ancientbeasts:frost_walker|1.0
            ancientbeasts:giant_zombie|1.0
            ancientbeasts:lil_vessel|1.0
            ancientbeasts:damcell|1.0
            ancientbeasts:netherhound|1.0
            ancientbeasts:boulderer|1.0
            ancientbeasts:owlstack|1.0
            ancientbeasts:rifted_enderman|1.0
            ancientbeasts:bonepile|1.0
            ancientbeasts:nekros|1.0
            ancientbeasts:tribe_child|1.0
            biomesoplenty:wasp|1.0
            mimicfish:lunkertooth|1.0
            eyesinthedarkness:eyes|1.0
            futuremc:panda|1.0
            futuremc:bee|1.0
            futuremc:cod|1.0
            futuremc:pufferfish|1.0
            futuremc:salmon|1.0
            futuremc:tropical_fish|1.0
            hunterillager:hunter_illager|1.0
            srparasites:sim_bigspider|1.0
            srparasites:sim_squid|1.0
            srparasites:sim_human|1.0
            srparasites:sim_cow|1.0
            srparasites:sim_sheep|1.0
            srparasites:sim_wolf|1.0
            srparasites:sim_pig|1.0
            srparasites:sim_villager|1.0
            srparasites:sim_adventurer|1.0
            srparasites:sim_horse|1.0
            srparasites:sim_bear|1.0
            srparasites:sim_enderman|1.0
            srparasites:sim_dragone|1.0
            srparasites:sim_sheephead|1.0
            srparasites:sim_wolfhead|1.0
            srparasites:sim_cowhead|1.0
            srparasites:sim_pighead|1.0
            srparasites:sim_villagerhead|1.0
            srparasites:sim_horsehead|1.0
            srparasites:sim_humanhead|1.0
            srparasites:sim_endermanhead|1.0
            srparasites:sim_dragonehead|1.0
            srparasites:sim_adventurerhead|1.0
            srparasites:fer_bear|1.0
            srparasites:fer_cow|1.0
            srparasites:fer_enderman|1.0
            srparasites:fer_horse|1.0
            srparasites:fer_human|1.0
            srparasites:fer_pig|1.0
            srparasites:fer_sheep|1.0
            srparasites:fer_villager|1.0
            srparasites:fer_wolf|1.0
            srparasites:hi_blaze|1.0
            srparasites:hi_golem|1.0
            srparasites:hi_skeleton|1.0
            srparasites:carrier_heavy|1.0
            srparasites:carrier_light|1.0
            srparasites:buglin|1.0
            srparasites:carrier_flying|1.0
            srparasites:rupter|1.0
            srparasites:movingflesh|1.0
            srparasites:worker|1.0
            srparasites:mangler|1.0
            srparasites:gnat|1.0
            srparasites:beckon_si|1.0
            srparasites:beckon_sii|1.0
            srparasites:beckon_siii|1.0
            srparasites:beckon_siv|1.0
            srparasites:dispatcherten|1.0
            srparasites:dispatcher_si|1.0
            srparasites:dispatcher_sii|1.0
            srparasites:dispatcher_siii|1.0
            srparasites:dispatcher_siv|1.0
            srparasites:kyphosis|1.0
            srparasites:sentry|1.0
            srparasites:seizer|1.0
            srparasites:worm|1.0
            srparasites:incompleteform_small|1.0
            srparasites:incompleteform_medium|1.0
            srparasites:host|1.0
            srparasites:hostii|1.0
            srparasites:heed|1.0
            srparasites:crux|1.0
            srparasites:thrall|1.0
            srparasites:pri_longarms|1.0
            srparasites:pri_manducater|1.0
            srparasites:pri_reeker|1.0
            srparasites:pri_yelloweye|1.0
            srparasites:pri_summoner|1.0
            srparasites:pri_bolster|1.0
            srparasites:pri_tozoon|1.0
            srparasites:pri_arachnida|1.0
            srparasites:pri_devourer|1.0
            srparasites:pri_vermin|1.0
            srparasites:ada_longarms|1.0
            srparasites:ada_manducater|1.0
            srparasites:ada_reeker|1.0
            srparasites:ada_yelloweye|1.0
            srparasites:ada_summoner|1.0
            srparasites:ada_bolster|1.0
            srparasites:ada_arachnida|1.0
            srparasites:overseer|1.0
            srparasites:vigilante|1.0
            srparasites:warden|1.0
            srparasites:bomber_light|1.0
            srparasites:marauder|1.0
            srparasites:monarch|1.0
            srparasites:grunt|1.0
            srparasites:bomber_heavy|1.0
            srparasites:wraith|1.0
            srparasites:bogle|1.0
            srparasites:haunter|1.0
            srparasites:carrier_colony|1.0
            srparasites:succor|1.0
            srparasites:seeker|1.0
            srparasites:architect|1.0
            srparasites:anc_dreadnaut|1.0
            srparasites:anc_overlord|1.0
            srparasites:anc_pod|1.0
            srparasites:anc_dreadnaut_ten|1.0
            srparasites:homming|1.0
            srparasites:biomass|1.0
            srparasites:tendril|1.0
            srparasites:wave|1.0
            srparasites:waveshock|1.0
            waddles:adelie_penguin|1.0
            battletowers:golem|1.0
            coroutil:bat_smart|1.0
         >
    }

}


