# Configuration file

balance {
    # The chance for leaves to drop sticks when broken
    # Min: 0.0
    # Max: 1.0
    D:leavesStickDropChance=0.2

    # Chance for a log chopping to occur
    # Min: 0.0
    # Max: 1.0
    D:logChoppingChance=0.6
}


general {
    # Blocks that are always breakable. Use the format modid:registryname or modid:registryname:metadata
    # Note that this will not make blocks drop if they wouldn't normally drop when broken with fists.
    S:alwaysBreakable <
        minecraft:leaves
        minecraft:gravel
        minecraft:sand
        minecraft:dirt
        minecraft:grass
     >

    # If true, this will allow NTP to search aggressively for recipes and try and replace log -> wood recipes. (Makes NTPs wood chopping / saw recipes more automatic.) For pack makers: this WILL run after craft tweaker, and it WILL override any recipes craft tweaker adds.
    B:enableAdvancedRecipeReplacement=true

    # If false, this will disable all changes to breaking speed + block drops.
    B:enableBreakingChanges=true
}


tools {
    # Whether to enable tools at all
    B:enableTools=true
}


